---
layout: default
title: Allison Siegel
---

<div class="container">

<!-- CAROUSEL -->
<div class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

	{% for image in site.data.homeimages %}
	    {% if forloop.index == 1 %}
	    <div class="item active">
	    {% else %}
	    <div class="item">
	    {% endif }%}
	      <img src="/images/{{image.file}}" class="img-responsive" alt="">
	      <div class="carousel-caption">
	        <h4>{{image.title}}</h4>
	        <p>{{image.desc}}</p>
	      </div>
	    </div>
	{% endfor %}

  </div>

</div>

<div id="project-grid" class="row">
  
{% for post in site.posts %}
  <div class="col-sm-4">
    <div class="content">
    	<a href="{{ post.url }}">
    	<img src="/images/{{post.image}}" class="img-responsive" alt=""></a>
    </div>
  </div>
{% endfor %}

</div>

</div>