<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <link rel="stylesheet" href="/css/bootstrap.css">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

<header class="navbar navbar-fixed-top bs-docs-nav" role="banner">
  <div id="nav-container" class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="./" class="navbar-brand">Allison Siegel</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
      <!-- LEFT NAVBAR -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="./about">About</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<main>

<div class="container">

<!--             <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
 -->


<!-- CAROUSEL -->
<div class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/img/ALS_1282.jpg" class="img-responsive" alt="...">
      <div class="carousel-caption">
        <h4>THIS IS THE TITLE</h4>
        <p>this is the description</p>
      </div>
    </div>
    <div class="item">
      <img src="/img/ALS_1495.jpg" class="img-responsive" alt="...">
            <div class="carousel-caption">
        <h4>THIS IS THE TITLE</h4>
        <p>this is the description</p>
      </div>
    </div>
    <div class="item">
      <img src="/img/ALS_1565.jpg" class="img-responsive" alt="...">
            <div class="carousel-caption">
        <h4>THIS IS THE TITLE</h4>
        <p>this is the description</p>
      </div>
    </div> 
  </div>

</div>

<div id="project-grid" class="row">
  
  <div class="col-md-4">
    <div class="content">1</div>
  </div>
  <div class="col-md-4">
        <div class="content">1</div>

  </div>
  <div class="col-md-4">
        <div class="content">1</div>
  </div>

  <div class="col-md-4">
    <div class="content">1</div>
  </div>
  <div class="col-md-4">
        <div class="content">1</div>

  </div>
  <div class="col-md-4">
        <div class="content">1</div>
  </div>

  <div class="col-md-4">
    <div class="content">1</div>
  </div>
  <div class="col-md-4">
        <div class="content">1</div>

  </div>
  <div class="col-md-4">
        <div class="content">1</div>
  </div>

</div>

          {{ content }}

</div>

</main>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    </body>
</html>
